$--colors: (
  'white': #ffffff,
  'black': #000000,
  'primary': (
    'base': #ce2d1e,
  ),
  'success': (
    'base': #21ba45,
  ),
  'warning': (
    'base': #e6a23c,
  ),
  'danger': (
    'base': #f56c6c,
  ),
  'error': (
    'base': #f56c6c,
  ),
  'info': (
    'base': #e5e7ec,
  )
);

@forward 'element-plus/theme-chalk/src/mixins/config.scss' with (
  $namespace: 'f1'
);

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: $--colors,
  $button-padding-horizontal: ('default': 50px)
);

@use './dark.scss';